<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
    <div class='navbar navbar-default navbar-static-top'>
      <div class="container">
        <a href='/' class='navbar-brand'>Wiley Hays</a>
        	<ul class='nav navbar-nav navbar-right'>
          <ul class="nav nav-pills">
            <li class="active"><%= link_to('Projects', portfolio_path) %></li>
            <li><%= link_to('Welcome', root_path) %></li>
            <li><a href="https://medium.com/">Blog</a>
            <li><%= link_to('About', about_path) %></li>
            <li><%= link_to('Contact', contact_path) %></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  
<%= yield %>
    
  <footer>
    <div class='container'>
      <div class='col-md-offset-5 col-md-3'>
        <ul class='list-unstyled'>
          <li><a href="https://www.linkedin.com/pub/wiley-hays/6b/807/54a">Linked In</a></li>
          <li><a href="https://www.heroku.com">Heroku</a></li>
          <li><a href="https://github.com/wdhays2">Github</a></li>
        </ul>
      </div>
    </div>
  <br>
  <br>
</footer>
  
  
</body>
</html>
